a {
    background: linear-gradient(rgb(30, 87, 153), rgb(125, 185, 232));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e5799', endColorstr='#ff7db9e8', GradientType=0);
}

b {
    background: linear-gradient(hsl(212, 67%, 36%), #7DB9E8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e5899', endColorstr='#ff7db9e8', GradientType=0);
}

c {
    background: linear-gradient(rgba(30, 87, 153, 0.1), hsla(206, 70%, 70%, 0.8));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1e5799', endColorstr='#cc7dbae8', GradientType=0);
}
