a {
    background: linear-gradient(to bottom, #1E5799, #7DB9E8);
    filter: alpha(opacity=50);
}

b {
    background: linear-gradient(to bottom, #1E5799, #7DB9E8);
    -ms-filter: alpha(opacity=50);
}
