a {
    background: linear-gradient(100grad, #1E5799, #7DB9E8);
}

b {
    background: linear-gradient(200grad, #1E5799, #7DB9E8);
}

c {
    background: linear-gradient(-100grad, #1E5799, #7DB9E8);
}
