a {
    background: linear-gradient(rgb(30, 87, 153) 0%, rgb(125, 185, 232) 76%, rgb(96, 178, 130) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FF1E5799', EndColorStr='#FF60B282');
}

b {
    background: linear-gradient(to bottom, blue, green, red);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FF0000FF', EndColorStr='#FFFF0000');
}
